/* SCSS components to be imported */

@import './components/alignment';
@import './components/badge';
@import './components/button';
@import './components/card';
@import './components/chart';
@import './components/container';
@import './components/dropdown';
@import './components/form';
@import './components/form-wizard';
@import './components/hr';
@import './components/icon';
@import './components/modal';
@import './components/pagination';
@import './components/progress-bar';
@import './components/swal';
@import './components/table';
@import './components/tooltip';


/* Root style to be applied to whole project */

html, body {
    font-family: $default-font-family;
    height: 100%;
    position: relative;
}
