/* Root colors */

$main-color: #48326f;
$secondary-color: #6e30be;

$main-font-color: #000000;
$alternate-font-color: #ffffff;


/* Breakpoints */

$view-xxs: 384px;
$view-xs: 576px;
$view-sm: 768px;
$view-md: 960px;
$view-lg: 1152px;


/* Default-related */

$default-bg-color: #f6f6f6;

$default-border-radius: 0.5rem;

$default-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

$default-font-family: 'Poppins', sans-serif;
$default-font-size: 1rem;
$default-font-weight: 400;

$title-font-size: 1.2 * $default-font-size;
$title-font-weight: $default-font-weight + 200;

$default-margin: 1rem;
$default-padding: 1rem;

$default-transition-delay: 0.3s;

$default-loading-zindex: 9999;
$default-loading-bg-color: rgba(0, 0, 0, 0.85);

/* Card-related */

$default-card-bg-color: #ffffff;
$default-card-border: 1px solid #f3f3f3;


/* Content-related */

$content-bg-color: #fafbfc;

$content-overlay-zindex: 1;
$content-overlay-color: rgba(0, 0, 0, .5);


/* Navbar-related */

$navbar-bg-color: #fafbfc;


/* Sidebar-related */

$sidebar-bg-color: rgb(50, 50, 50);
$sidebar-font-color: #ffffff;

$sidebar-size: 225px;

$sidebar-wrapper-zindex: 2;
$sidebar-zindex: 3;
