/* Icon mixins */

@mixin icon-variant($color) {
    color: $color;
  
    &:focus,
    &.focus {
      color: darken($color, 10%);
      cursor: pointer;
    }
    &:hover {
      color: darken($color, 10%);
      cursor: pointer;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: darken($color, 10%);
  
      &:hover,
      &:focus,
      &.focus {
        color: darken($color, 17%);
        cursor: pointer;
      }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus,
      &.focus {
        color: $color;
        cursor: not-allowed;
      }
    }
}
  