/* Alignment tags, classes and identifiers */

.push-right {
    margin-left: auto;
}

.vertical-center {
    flex: 1 1 auto;
    align-self: center;
    align-items: center;
}

.vertical-end {
    flex: 1 1 auto;
    align-self: end;
    align-items: end;
}

.vertical-unset {
    align-items: unset !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}