/* Badge tags, classes and identifiers */

.badge-content-list {
    background-color: $secondary-color;
    border-radius: $default-border-radius + 0.25;
    color: $alternate-font-color;
    display: inline-block;
    font-size: $default-font-size * 0.75;
    margin: $default-margin * 0.1;
    padding: $default-padding * 0.25;
}

.badge-input-range {
    align-self: center;
    background-color: $secondary-color;
    border-radius: $default-border-radius + 0.25;
    color: $alternate-font-color;
    display: inline-block;
    font-size: $default-font-size * 0.75;
    padding: $default-padding * 0.2;
}