/* Mixins to be imported */

@import '../mixins/button';


/* Button tags, classes and identifiers */

.btn:disabled {
    cursor: not-allowed;
}

.btn-main {
    @include button-variant(#ffffff, $main-color, $main-color);
    border-radius: $default-border-radius;
}

.btn-primary {
    @include button-variant(#ffffff, $main-color, $main-color);
    border-radius: $default-border-radius;
}

.btn-secondary {
    @include button-variant(#ffffff, $secondary-color, $secondary-color);
    border-radius: $default-border-radius;
}

.btn-clear {
    @include button-variant($main-color, #ffffff, $main-color);
    border-radius: $default-border-radius;
}

.btn-content {
    font-size: $default-font-size * 0.9;
    padding: $default-padding / 4 $default-padding;
}

.btn-group {
    display: inline-block;
    .btn {
        border-radius: $default-border-radius;
        margin-bottom: $default-margin / 2;
    }
}
