/* Card tags, classes and identifiers */

.card-content {
    display: flex;
    align-items: flex-start;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
    border: $default-card-border;
    background-color: $default-card-bg-color;
    padding: $default-padding;
    .card-content-title {
        color: $main-color;
        font-size: $default-font-size * 1.4;
        font-weight: $default-font-weight + 200;
    }
}