.chart-content {
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
    border: $default-card-border;
    background-color: $default-card-bg-color;
    padding: $default-padding;
}