/* Container tags, classes and identifiers */

.container-flex {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-flex-content {
    height: 100%;
    display: flex;
    align-items: unset;
    flex-direction: column;
}

.content-scope {
    .content-scope-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .content-scope-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: $view-xs), screen and (min-width: $view-sm) and (max-width: $view-md) {
    .content-scope {
        .content-scope-row {
            flex: 1 1 auto;
            flex-direction: row;
            justify-content: center;
        }
        .content-scope-column {
            align-items: center;
            text-align: center;
        }
    }
    .vertical-end {
        margin-top: $default-margin;
        align-self: center;
    }
}

@media screen and (min-width: $view-lg) {
    .content-scope {
        .content-scope-row {
            justify-content: space-between;
        }
    }
}

.content-title {
    color: $main-color;
    font-size: $default-font-size * 1.2;
    font-weight: $default-font-weight + 100;
}
