/* Dropdown tags, classes and identifiers */

.dropdown-header {
    color: darken($main-color, 10%);
    font-size: $default-font-size * 0.9;
    padding: $default-padding / 2 $default-padding * 0.75;
}

.dropdown-item {
    outline: 0;
    &:active {
        color: $main-color;
        background-color: lighten($main-color, 60%);
    }
}

.dropdown-menu {
    border-radius: $default-border-radius;
    margin: $default-margin / 4 0 0;
    min-width: 11.6rem;
}

.dropdown-no-button {
    color: lighten($main-font-color, 25%);
    padding: 0;
    &:hover, &:active, &:focus {
        color: $main-font-color;
        text-decoration: none;
    }
}

.dropdown {
    button {
        border-radius: $default-border-radius !important;
    }
    input {
        border: none;
        font-size: $default-font-size * 0.8;
        &:focus {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: $view-xs), screen and (min-width: $view-sm) and (max-width: $view-md) {
    .dropdown-menu.show {
        transform: translate3d(-55px, 31px, 0px) !important;
    }
}
