/* VueFormWizard tags, classes and identifiers */

.vue-form-wizard {
    .wizard-btn {
        border-radius: $default-border-radius;
        font-size: $default-font-size * 0.85;
        font-weight: $default-font-weight;
        min-width: unset;
        padding: $default-padding * 0.25 $default-padding * 0.5;
        &:hover {
            background-color: darken($main-color, 10%) !important;
            border-color: darken($main-color, 12%) !important;
        }
    }
    .wizard-nav-pills {
        li {
            overflow: unset !important;
            z-index: 0;
        }
        .wizard-icon {
            align-self: center;
            font-size: $default-font-size * 1.5;
        }
    }
    .wizard-icon-circle {
        background-color: lighten($main-color, 5%);
    }
}

@media screen and (max-width: $view-xs) {
    .vue-form-wizard {
        .wizard-card-footer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .wizard-footer-right {
                button {
                    margin-top: $default-margin * 0.6;
                }
            }
        }
    }
}

