/* Form-related tags, classes and identifiers */

.custom-control-inline {
    margin-right: $default-margin / 2;
}

.form-control:disabled {
    cursor: not-allowed;
}

.form-group {
    .form-group-title {
        font-size: $default-font-size * 0.95;
        font-weight: $default-font-weight + 200;
        margin-bottom: $default-margin / 2;
    }
    .form-group-desc {
        font-size: $default-font-size * 0.85;
        font-weight: $default-font-weight + 100;
        margin-bottom: $default-margin * 0.75;
    }
}

.form-group {
    input, select {
        width: 325px;
    }
}

@media screen and (max-width: $view-lg) {
    .form-group {
        input, select {
            width: 250px;
        }
    }
}

@media screen and (max-width: $view-xs) {
    .form-group {
        input, select {
            width: 225px;
        }
    }
}

@media screen and (max-width: $view-xxs - 50) {
    .form-group {
        input, select {
            width: 195px;
        }
    }
}

.form-title {
    font-size: $default-font-size * 1.5;
    font-weight: $default-font-weight;
}

.form-desc {
    color: lighten($main-font-color, 60%);
    font-size: $default-font-size * 0.9;
    font-weight: $default-font-weight;
}

input.form-control[type="range"] {
    height: calc(2.25rem + 2px) !important;
}

.invalid-feedback {
    margin-top: $default-margin / 2;
}