/* Mixins to be imported */

@import '../mixins/icon';


/* Icon tags, classes and identifiers */

.icon-primary {
    @include icon-variant($main-color);
}

.icon-secondary {
    @include icon-variant($secondary-color);
}

.icon-primary-lighter-font {
    @include icon-variant(lighten($main-font-color, 50%));
}

#icons-action {
    &:hover {
        cursor: pointer;
        color: $main-color;
    }
}

#remove-phrase {
    align-self: baseline;
    font-size: $default-font-size;
    margin-top: $default-margin * 0.4;
    margin-left: $default-margin * 0.5;
    position: relative;
    &:hover {
        cursor: pointer;
        color: $main-color;
    }
}