/* Modal tags, classes and identifiers */

.close {
    &:hover {
        color: $main-color;
    }
}

.modal-content-title {
    font-size: $default-font-size * 1;
    font-weight: $default-font-weight + 200;
}

.modal-content-item {
    .modal-content-item-title {
        font-size: $default-font-size * 0.9;
        font-weight: $default-font-weight + 200;
    }
    .modal-content-item-desc {
        font-size: $default-font-size * 0.9;
        font-weight: $default-font-weight;
    }
    
}