/* VuePagination tags, classes and identifiers */

.page-item.active {
    z-index: 0;
    overflow: unset !important;
    .page-link {
        background-color: $main-color;
        border-color: $main-color;
    }
}

.page-item:first-child, .page-item:last-child {
    .page-link {
        border: 1px solid #dee2e6;
        line-height: 0.75rem;
    }
}

.page-item + .page-item {
    margin-left: $default-margin / 2;
}

.page-link {
    border: none;
    border-radius: $default-border-radius !important;
    color: $main-color;
    font-size: $default-font-size * 0.85;
    height: 2rem;
    width: 2rem;
    &:hover {
        color: $main-color;
    }
}

.pagination-text {
    color: lighten($main-font-color, 50%);
    font-size: $default-font-size * 0.9;
}