/* SweetAlert2 tags, classes and identifiers */

.swal2-close {
    &:hover {
        color: $main-color !important;
    }
}

.swal2-content {
    font-size: $default-font-size * 0.9 !important;  
}

.swal2-file {
    font-size: $default-font-size !important;
    box-shadow: $default-box-shadow !important;
}

.swal2-popup {
    font-family: $default-font-family !important;
}

.swal2-styled {
    border-radius: $default-border-radius !important;
    font-size: $default-font-size !important;
    font-weight: $default-font-weight !important;
    padding: $default-padding * 0.375 $default-padding * 0.75 !important;
}

.swal2-title {
    font-weight: $default-font-weight + 100 !important;
    font-size: $default-font-size * 1.4 !important;  
}