/* Table tags, classes and identifiers */

.table-hover {
    thead {
        tr {
            th {
                border-bottom: 2px solid $main-color;
                border-top: none;
                padding-top: 0;
            }
        }
    }
    tbody {
        tr {
            td {
                span > svg {
                    opacity: 0.1;
                }
                span + span {
                    margin-left: $default-margin / 2;
                }
            }
        }
        tr:hover {
            td > div > span > svg {
                opacity: 1;
                &:hover {
                    cursor: pointer;
                    color: $main-color;
                }
            }
        }
    }
}

@media screen and (max-width: $view-xs), screen and (min-width: $view-sm) and (max-width: $view-md) {
    tbody {
        tr {
            td {
                span + span {
                    margin-left: 0 !important;
                }
            }
        }
    }
}

#table-action {
    justify-content: flex-start;
}