/* Tooltip tags, classes and identifiers */

.tooltip {
    font-family: $default-font-family;
    z-index: 1050;
}

.tooltip-inner {
    font-size: $default-font-size * 0.8;
    background-color: #444444;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #444444;
}