<template>
    <div class="card-slider">
        <div class="content-scope">
            <div class="content-scope-column">
                <div class="card-slider-header mb-2">
                    <span class="card-slider-header-icon fa-stack mr-1">
                        <i class="card-slider-header-icon-bg fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="card-slider-header-title">Why?</span>
                </div>
                <div class="card-slider-text mb-2">
                    Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum
                </div>
                <div class="card-slider-detail">
                    details >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardSlider',
    data () {
        return {
        }
    }
}
</script>

<style lang="scss" scoped>
.card-slider {
    background-color: #ffffff;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
    padding: $default-padding;
    .card-slider-header {
        display: flex;
        align-items: center;
        justify-content: center;
        .card-slider-header-icon {
            font-size: $default-font-size;
            .card-slider-header-icon-bg {
                color: $main-color;
            }
        }
        .card-slider-header-title {
            color: $main-color;
            text-transform: uppercase;
        }
    }
    .card-slider-text {
        color: lighten($main-font-color, 50%);
        font-size: $default-font-size * 0.85;
        font-weight: $default-font-weight;
    }
    .card-slider-detail {
        display: flex;
        justify-content: flex-end;
        font-size: $default-font-size * 0.9;
        font-weight: $default-font-weight;
    }
}
</style>
