<template>
    <div>
        AboutPage
    </div>
</template>

<script>
export default {
    name: 'AboutPage',
    components: {
    },
    data () {
        return {
        }
    },
    computed: {
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>
</style>
