<template>
    <div class="content-scope">
        <div class="content-scope-row">
            <div class="content-scope-column">
                <span class="small-title mb-4">
                    A sua plataforma inteligente
                </span>
                <span class="title mb-2">
                    Pronto para aprender?
                </span>
                <span class="title-desc mb-4">
                    Escolha a melhor opção para você.
                </span>
                <div class="content-scope-row" id="footer">
                    <button class="btn btn-clear mr-2">
                        Utilize a Inteligência Artificial
                    </button>
                    <span class="button-more">
                        Saiba mais
                    </span>
                </div>
            </div>
            <div class="content-scope-row" id="card-slider">
                <card-slider></card-slider>
                <card-slider></card-slider>
            </div>
        </div>
    </div>
</template>

<script>
// Components
import CardSlider from '@/components/tools/sliders/CardSlider'

export default {
    name: 'LandingPage',
    components: {
        CardSlider
    },
    data () {
        return {
        }
    },
    computed: {
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>
.small-title {
    color: lighten($main-color, 25%);
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    text-transform: uppercase;
}

.title {
    color: $main-color;
    font-size: $default-font-size;
    font-weight: $default-font-weight + 300;
}

.title-desc {
    color: $main-color;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
}

.button-more {
    color: lighten($main-font-color, 50%);
    font-size: $default-font-size * 0.85;
    font-weight: $default-font-weight;
}

#card-slider {
    flex: 1 1 auto;
    justify-content: space-around;
}

#footer {
    align-items: center;
}
</style>
