<template>
    <span class="navbar-item">
        <span class="navbar-item-notification badge">2</span>
        <i :class="[icon, 'fa-fw icon-primary-lighter-font']"></i>
        <span>{{ title }}</span>
    </span>
</template>

<script>
export default {
    name: 'NavbarItem',
    props: {
        title: {
            type: String,
            required: false
        },
        icon: {
            type: String,
            required: false
        }
    },
    data () {
        return {
        }
    }
}
</script>

<style lang="scss" scoped>
.navbar-item {
        .navbar-item-notification {
            color: #ffffff;
            border-radius: 100%;
            background-color: $secondary-color;
            padding: 0.3rem;
            min-width: 1.35rem;
            top: -0.75rem;
            left: 0.75rem;
            position: relative;
        }
    }
</style>
