<template>
    <div class="navbar">
        <span
            class="navbar-item icon-primary-lighter-font mr-4"
            id="toggleButton"
            @click="setSidebarStatus()">
                <i class="fas fa-fw fa-bars"></i>
        </span>
        <div class="push-right">
        </div>
    </div>
</template>

<script>
// Components
import NavbarItem from '@/components/root/layout/navbar/NavbarItem'

// Vuex mutations
import { mapMutations } from 'vuex'

export default {
    name: 'TheNavbar',
    components: {
        NavbarItem
    },
    data () {
        return {
        }
    },
    methods: mapMutations([
        'setSidebarStatus'
    ])
}
</script>

<style lang="scss" scoped>
.navbar {
    background-color: $navbar-bg-color;
    padding: $default-padding;
    flex-direction: row;
    justify-content: flex-start;
    navbar-item + navbar-item {
        margin-left: $default-margin;
    }
}

#toggleButton {
    display: none;
}

@media screen and (max-width: $view-sm) {
    #toggleButton {
        display: inline;
    }
}
</style>
