<template>
    <div class="container-flex loading-overlay">
        <loading-icon
        :size="3">
        </loading-icon>
    </div>
</template>

<script>
import LoadingIcon from './LoadingIcon'
export default {
    name: 'LoadingOverlay',
    components: {
        LoadingIcon
    },
    data () {
        return {
        }
    }
}
</script>

<style lang="scss" scoped>
.container-flex {
    flex-direction: row;
}
.loading-overlay {
    background: $default-loading-bg-color;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: $default-loading-zindex;
}
</style>
