<template>
    <div
    class="loading-icon"
    :style="{ 'font-size': size + 'rem' }">
        <i class="fas fa-spinner fa-pulse"></i>
    </div>
</template>

<script>
export default {
    name: 'LoadingIcon',
    props: {
        size: {
            type: Number,
            required: true
        }
    },
    data () {
        return {
        }
    }
}
</script>

<style lang="scss" scoped>
.loading-icon {
    color: $main-color;
    display: inline-block;
}
</style>
