<template>
    <div class="container-flex">
        <h2>Por acaso você se perdeu?</h2>
        <h4 class="mt-2">Esta página ainda não existe.</h4>
        <h6 class="mt-4">Você será redirecionado em {{ 5 - elapsedTime }} segundos.</h6>
    </div>
</template>

<script>
export default {
    name: 'The404',
    data () {
        return {
            // Creation time should be initialized to 0
            creationTime: 0,
            // Elapsed time as well
            elapsedTime: 0
        }
    },
    methods: {
        // Gets current time from javascript's Date object
        getCurrentTime () {
            return Math.trunc((new Date()).getTime() / 1000)
        }
    },
    mounted () {
        // When component is mounted, change its creation time to current time
        this.creationTime = this.getCurrentTime()
        window.setInterval(() => {
            this.elapsedTime = this.getCurrentTime() - this.creationTime
            // Waits for 5 seconds and replace its route
            if (this.elapsedTime === 5) {
                this.$router.replace('/')
            }
        }, 1000)
    }
}
</script>

<style lang="scss" scoped>
.container-flex {
    background-color: $default-bg-color;
    flex-direction: column;
}
@media screen and (max-width: $view-xxs) {
    h2 {
        font-size: $default-font-size * 1.5;
    }
    h4 {
        font-size: $default-font-size;
    }
    h6 {
        font-size: $default-font-size * 0.75;
    }
}
</style>
