<template>
    <div class="layout">
        <div class="content-scope mb-5">
            <div
            class="content-scope-row"
            id="header">
                <img
                class="mr-2"
                src="../../assets/img/adhon-ai.png"
                height="40px">
                <span class="header-title">
                    Adhon.ai
                </span>
            </div>
        </div>
        <the-content></the-content>
    </div>
</template>

<script>
// Components
import TheContent from '@/components/root/layout/content/TheContent'

export default {
    name: 'TheLayout',
    components: {
        TheContent
    },
    data () {
        return {
        }
    }
}
</script>

<style lang="scss" scoped>
.layout {
    background: url('../../assets/img/bg.png') no-repeat fixed;
    background-size: cover;
    height: 100%;
}

#header {
    align-items: center;
    justify-content: flex-start;
    padding: $default-padding $default-padding * 5;
    .header-title {
        color: darken($main-color, 0%);
        font-size: $default-font-size * 1.3;
        font-weight: $default-font-weight + 300;
    }
}

@media screen and (min-width: $view-lg) {
    .layout {
        background: url('../../assets/img/bg.png') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
    }
}
</style>
