<template>
    <div id="main-container">
        <loading-overlay v-if="this.status === 'loading'"></loading-overlay>
        <router-view/>
    </div>
</template>

<script>
// Components
import LoadingOverlay from '@/components/tools/loading/LoadingOverlay'

// Vuex
import { mapGetters } from 'vuex'

export default {
    // Application name (default: App)
    name: 'App',
    components: {
        // A nice loading overlay component to hold the application 'loading' status
        LoadingOverlay
    },
    computed: mapGetters({
        // Application status variable
        status: 'status'
    }),
    created () {
    }
}
</script>

<style lang="scss" scoped>
// You can either choose to scope the style to this component or not
#main-container {
    height: 100%;
}
</style>
