<template>
    <div class="content">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'TheContent',
    data () {
        return {
        }
    }
}
</script>

<style lang="scss">
.content {
    padding: $default-padding $default-padding * 5;
}
</style>
